[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
jupyter = "*"
scipy = "*"
sklearn = "*"
jax = "*"
rpy2 = "*"
mord = "*"
glmnet-py = "*"
masterthesis = {path = "./masterthesis/dist/masterthesis-0.0.4.tar.gz"}
scanpy = "*"
anndata = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
