[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alabaster = "*"
anndata = "*"
anyio = "*"
argon2-cffi = "*"
argon2-cffi-bindings = "*"
arrow = "*"
asttokens = "*"
attrs = "*"
babel = "*"
backcall = "*"
beautifulsoup4 = "*"
bleach = "*"
build = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
comm = "*"
contourpy = "*"
cycler = "*"
debugpy = "*"
decorator = "*"
defusedxml = "*"
docutils = "*"
executing = "*"
fastjsonschema = "*"
flit-core = "*"
fonttools = "*"
fqdn = "*"
glmnet-py = "*"
guppy3 = "*"
h5py = "*"
imagesize = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
ipywidgets = "*"
isoduration = "*"
jax = "*"
jedi = "*"
jinja2 = "*"
joblib = "*"
jsonpyth = "*"
jsonschema = "*"
jupyter = "*"
jupyter-console = "*"
jupyter-events = "*"
jupyter-client = "*"
jupyter-core = "*"
jupyter-server = "*"
jupyter-server-terminals = "*"
jupyterlab-pygments = "*"
jupyterlab-widgets = "*"
kiwisolver = "*"
llvmlite = "*"
markupsafe = "*"
scanpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
