alabaster
anndata
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
build
certifi
cffi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
defusedxml
docutils
executing
fastjsonschema
flit_core
fonttools
fqdn
glmnet-py
guppy3
h5py
imagesize
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jax
jedi
Jinja2
joblib
JSONPyth
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
llvmlite
MarkupSafe
masterthesis @ file:///home/julian/Uni/MasterThesis/code/masterthesis/dist/masterthesis-0.0.92.tar.gz#sha256=e956b1612ce0c5d427f26946a4f9ba2945eb425b664e585523f5261512da344e
matplotlib
matplotlib-inline
matplotlib-venn
memory-profiler
mistune
ml-dtypes
natsort
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numba
numpy
opt-einsum
overrides
palanteer
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
Pillow
platformdirs
Procpath
prometheus-client
prompt-toolkit
psupertime @ file:///home/julian/Uni/MasterThesis/Psupertime/dist/psupertime-0.0.32.tar.gz#sha256=48dc030135260004582f92c35f7ef82bd730186546180c395e8c5e3d809430c5
psutil
ptyprocess
pure-eval
pygal
Pygments
pyinstrument
Pympler
pynndescent
pyparsing
pyproject_hooks
pypsupertime @ file:///home/julian/Uni/MasterThesis/Psupertime/dist/pypsupertime-0.0.109.tar.gz#sha256=896690c7f93d7767b2da4185c9e6c0aa167e56bfe35d07c5109e7b8e58703aaa
pyrsistent
python-dateutil
python-json-logger
pytz-deprecation-shim==0
pyzmq
qtconsole
QtPy
requests
rfc3339-validator
rfc3986-validator
rpy2
scanpy
scikit-learn
scipy
seaborn
Send2Trash
session-info
six
sklearn
sniffio
snowballstemmer
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
statsmodels
stdlib-list
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
tzdata
tzlocal
umap-learn
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
